@model List<Cake>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Image</th>
            <th scope="col">CakeName</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Cake cake in @Model)
        {
        <tr>
            <th scope="row">@cake.ID</th>
            <td><img style="height:80px;width:40%" asp-append-version="true" src=@cake.Image /></td>
            <td>@cake.name</td>
            <td>@cake.Price</td>
        </tr>
        }
    </tbody>
</table>
