@model List<Smoothie>
@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Image</th>
            <th scope="col">DrinkName</th>
            <th scope="col">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Smoothie smoothie in @Model)
        {
        <tr>
            <th scope="row">@smoothie.ID</th>
            <td><img style="height:80px;width:40%" asp-append-version="true" src=@smoothie.Image /></td>
            <td>@smoothie.name</td>
            <td>@smoothie.Price</td>
        </tr>
        }
    </tbody>
</table>